@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots  .slick-active div{
    border-bottom: 5px solid black !important;
    color: black !important;
}
.slick-dots  .slick-active div{
    border-right: 4px solid #262626 !important;
    color: black !important;
}
@media(max-width:640px){
    .slick-dots{
        left: 0 !important;
    }
.ami{
    padding: 0 !important;
   
}
}